orbs:
  heroku: circleci/heroku@0.0.10
  node: circleci/node@2.0.2
version: 2.1
workflows:
  test-and-deploy:
    jobs:
      - node/test
      - heroku/deploy-via-git:
          requires:
            - node/test
