version: 2.1

orbs:
  heroku: circleci/heroku@1.2.3
  node: circleci/node@2.0.2
  
jobs: 
  deploy:
    executor: heroku/default
    steps:
      - checkout
      - heroku/install
      - heroku/deploy-via-git

workflows:
  test_and_deploy:
    jobs:
      - node/test:
          version: 15.0.1
      - deploy